interactions:
- request:
    body: '{"location": "eastus", "properties": {"retentionInDays": 30, "sku": {"name":
      "PerGB2018"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004?api-version=2021-12-01-preview
  response:
    body:
      string: "{\r\n  \"properties\": {\r\n    \"source\": \"Azure\",\r\n    \"customerId\":
        \"12a78ca2-f8db-47a7-917a-29b6d7cee42e\",\r\n    \"provisioningState\": \"Creating\",\r\n
        \   \"sku\": {\r\n      \"name\": \"pergb2018\",\r\n      \"lastSkuUpdate\":
        \"Thu, 23 Feb 2023 01:39:16 GMT\"\r\n    },\r\n    \"retentionInDays\": 30,\r\n
        \   \"features\": {\r\n      \"legacy\": 0,\r\n      \"searchVersion\": 1,\r\n
        \     \"enableLogAccessUsingOnlyResourcePermissions\": true\r\n    },\r\n
        \   \"workspaceCapping\": {\r\n      \"dailyQuotaGb\": -1.0,\r\n      \"quotaNextResetTime\":
        \"Thu, 23 Feb 2023 23:00:00 GMT\",\r\n      \"dataIngestionStatus\": \"RespectQuota\"\r\n
        \   },\r\n    \"publicNetworkAccessForIngestion\": \"Enabled\",\r\n    \"publicNetworkAccessForQuery\":
        \"Enabled\",\r\n    \"createdDate\": \"Thu, 23 Feb 2023 01:39:16 GMT\",\r\n
        \   \"modifiedDate\": \"Thu, 23 Feb 2023 01:39:16 GMT\"\r\n  },\r\n  \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/microsoft.operationalinsights/workspaces/containerapp-env000004\",\r\n
        \ \"name\": \"containerapp-env000004\",\r\n  \"type\": \"Microsoft.OperationalInsights/workspaces\",\r\n
        \ \"location\": \"eastus\"\r\n}"
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001/providers/Microsoft.OperationalInsights/workspaces/containerapp-env000004/sharedKeys?api-version=2020-08-01
  response:
    body:
      string: "{\r\n  \"primarySharedKey\": \"DnmqPLSkZ482FB1EoYMsvE0icS09ZNMVhupD4QDZ4jEBT3QBvVdRePuo6Z3b2REQgAiIZd9LxTbh8BBe3J2/jA==\",\r\n
        \ \"secondarySharedKey\": \"dtMtZyk3h+LmNQxO3lbrfj/ne75gIJtCS04gDy6qEbfcYAgTcz1E/wAxUosnVy4Rr1UP7yfIYug7rPLbemstvw==\"\r\n}"
    headers:
      cachecontrol:
      - no-cache
      content-type:
      - application/json; charset=utf-8
      x-ams-apiversion:
      - WebAPI1.0
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App?api-version=2021-04-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App","namespace":"Microsoft.App","authorizations":[{"applicationId":"7e3bc4fd-85a3-4192-b177-5b8bfc87f42c","roleDefinitionId":"39a74f72-b40f-4bdc-b639-562fe2260bf0"},{"applicationId":"3734c1a4-2bed-4998-a37a-ff1a9e7bf019","roleDefinitionId":"5c779a4f-5cb2-4547-8c41-478d9be8ba90"},{"applicationId":"55ebbb62-3b9c-49fd-9b87-9595226dd4ac","roleDefinitionId":"e49ca620-7992-4561-a7df-4ed67dad77b5","managedByRoleDefinitionId":"9e3af657-a8ff-583c-a75c-2fe7c4bcb635"}],"resourceTypes":[{"resourceType":"managedEnvironments","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","East Asia","Australia East","Germany West Central","Japan East","UK
        South","West US","Central US","North Central US","South Central US","Korea
        Central","Brazil South","West US 3","France Central","South Africa North","Norway
        East","Switzerland North","UAE North","Central US EUAP","East US 2 EUAP"],"apiVersions":["2022-10-01","2022-06-01-preview","2022-03-01","2022-01-01-preview"],"capabilities":"CrossResourceGroupResourceMove,
        CrossSubscriptionResourceMove, SupportsTags, SupportsLocation"},{"resourceType":"managedEnvironments/certificates","locations":["North
        Central US (Stage)","Canada Central","West Europe","North Europe","East US","East
        US 2","East Asia","Australia East","Germany West Central","Japan East","UK
        South","West US","Central US","North Central US","South Central US","Korea
        Central","Brazil South","West US 3","France Central","South [...]
[...]
- request:
    body: '{"location": "eastus", "tags": null, "sku": {"name": "Consumption"}, "properties":
      {"daprAIInstrumentationKey": null, "vnetConfiguration": null, "internalLoadBalancerEnabled":
      null, "appLogsConfiguration": {"destination": "log-analytics", "logAnalyticsConfiguration":
      {"customerId": "12a78ca2-f8db-47a7-917a-29b6d7cee42e", "sharedKey": "DnmqPLSkZ482FB1EoYMsvE0icS09ZNMVhupD4QDZ4jEBT3QBvVdRePuo6Z3b2REQgAiIZd9LxTbh8BBe3J2/jA=="}},
      "customDomainConfiguration": null, "zoneRedundant": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002","name":"containerapp-e2e-env000002","type":"Microsoft.App/managedEnvironments","location":"eastus","systemData":{"createdBy":"xingjianwang@microsoft.com","createdByType":"User","createdAt":"2023-02-23T01:39:58.328083Z","lastModifiedBy":"xingjianwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-23T01:39:58.328083Z"},"properties":{"provisioningState":"Waiting","defaultDomain":"calmfield-11ff8401.eastus.azurecontainerapps.io","staticIp":"40.88.209.31","appLogsConfiguration":{"destination":"log-analytics","logAnalyticsConfiguration":{"customerId":"12a78ca2-f8db-47a7-917a-29b6d7cee42e"}},"zoneRedundant":false,"eventStreamEndpoint":"https://eastus.azurecontainerapps.dev/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/managedEnvironments/containerapp-e2e-env000002/eventstream","customDomainConfiguration":{"customDomainVerificationId":"A95A7FB537930A49BF56DB54B3402C8986AD8F7C2D59E4C679A8D2E56CC08FA2"}},"sku":{"name":"Consumption"}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.App/locations/eastus/managedEnvironmentOperationStatuses/d9ffe348-828a-4079-9bda-74fe9dec94d2?api-version=2022-06-01-preview&azureAsyncOperation=true
      content-type:
      - application/json; charset=utf-8
      x-ms-async-operation-timeout:
      - PT15M
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '99'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"componentType": "state.azure.blobstorage", "version":
      "v1", "ignoreErrors": false, "initTimeout": null, "secrets": [{"name": "storage-account-name",
      "value": "storage-account-name", "keyVaultUrl": null, "identity": null}], "metadata":
      [{"name": "accountName", "value": null, "secretRef": "storage-account-name"}],
      "scopes": null}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/daprComponents/dapr-component000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/daprComponents/dapr-component000003","name":"dapr-component000003","type":"Microsoft.App/managedEnvironments/daprComponents","systemData":{"createdBy":"xingjianwang@microsoft.com","createdByType":"User","createdAt":"2023-02-23T01:52:32.8966997Z","lastModifiedBy":"xingjianwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-23T01:52:32.8966997Z"},"properties":{"componentType":"state.azure.blobstorage","version":"v1","ignoreErrors":false,"secrets":[{"name":"storage-account-name"}],"metadata":[{"name":"accountName","secretRef":"storage-account-name"}]}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/daprComponents?api-version=2022-06-01-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/daprComponents/dapr-component000003","name":"dapr-component000003","type":"Microsoft.App/managedEnvironments/daprComponents","systemData":{"createdBy":"xingjianwang@microsoft.com","createdByType":"User","createdAt":"2023-02-23T01:52:32.8966997","lastModifiedBy":"xingjianwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-23T01:52:32.8966997"},"properties":{"componentType":"state.azure.blobstorage","version":"v1","ignoreErrors":false,"secrets":[{"name":"storage-account-name"}],"metadata":[{"name":"accountName","secretRef":"storage-account-name"}]}}]}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/daprComponents/dapr-component000003?api-version=2022-06-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.App/managedEnvironments/containerapp-e2e-env000002/daprComponents/dapr-component000003","name":"dapr-component000003","type":"Microsoft.App/managedEnvironments/daprComponents","systemData":{"createdBy":"xingjianwang@microsoft.com","createdByType":"User","createdAt":"2023-02-23T01:52:32.8966997","lastModifiedBy":"xingjianwang@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-02-23T01:52:32.8966997"},"properties":{"componentType":"state.azure.blobstorage","version":"v1","ignoreErrors":false,"secrets":[{"name":"storage-account-name"}],"metadata":[{"name":"accountName","secretRef":"storage-account-name"}]}}'
    headers:
      api-supported-versions:
      - 2022-01-01-preview, 2022-03-01, 2022-06-01-preview, 2022-10-01, 2022-11-01-preview,
        2023-02-01
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
